@import url(./Styles/cabecalho.css);
@import url(./Styles/banner.css);
@import url(./Styles/cards.css);
@import url(./Styles/rodape.css);
@import url(./Consteruindo/construindo.css);

:root {
    --azul: #5AAADB;
    --branco: #FFFFFF;
    --preto: #000000;
    --cinza: #f3f3f3;
    --amarelo: #DBD400;
    --verde: #297F51;
    --font-principal: "Open Sans";
}

body {
    font-family: var(--font-principal);
    font-weight: 400;
    font-size: 16px;
    background-color: var(--branco);
    color: var(--preto);
}